.DataTable {
  height: 600px;
  padding: 20px;


  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 35px;
      height: 35px;
      border-radius: 30%;
      margin-right: 20px;
      object-fit: cover;
    }
  }
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      color: rgba(3, 39, 3, 0.952);
      background-color: rgba(5, 116, 5, 0.24);
    }
    &.pending {
      color: rgb(219, 186, 39);
      background-color: rgba(255, 219, 57, 0.301);
    }
    &.cancelled {
      color: rgb(243, 23, 42);
      background-color: rgba(255, 37, 37, 0.384);
    }
  }

  .DataGrid {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    width: 100%;
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewBtn {
      padding: 5px 15px;
      border-radius: 10px;
      // background-color: #1769c7d0;
      border: 0.5px solid lightgray;
      border-color: #7f8c96;
      cursor: pointer;

      &:hover {
        background-color: #0c7cd5;
        color: #fff;
        transition: all 0.6s ease;
        border: none;
      }
    }
    .deleteBtn {
      border-radius: 10px;
      padding: 5px 15px;
      border: 0.5px solid lightgray;
      border-color: #7f8c96;
      cursor: pointer;

      &:hover {
        background-color: rgba(238, 24, 24, 0.945);
        color: #fff;
        transition: all 0.6s ease;
        border: none;
      }
    }
  }
}
